*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: #0f1923;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Inter tight;
    color: #ff4655;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: #ff4655;
    font-size: 50px;
    line-height: inherit;
    float: left;
    font-family: Inter tight;
}

.navwrapper {
    padding: 20px 0;
}

/* header nav{
    float: right;
    line-height: 200px;
} */

.menu{
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    /* padding: 10px 20px; */
    font-family: Inter tight;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:500ms ease;
    -o-transition:500ms ease ;
    transition:500ms ease ;
    border-radius: 50px;
    
}

.menuItems{
    flex-direction: row-reverse;
}

.menuDos:hover {
    background-color: #ff4655;
}

.hamburguesa{
    background-color: #ff4655;
}

section .img-banner{
    width: 100%;
}

section p{
    font-size: 20px;
    font-family: Inter tight;
}



section .title{
    text-align: center;
    font-size: 40px;
    color: #ff4655;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 100;
    font-family: Inter tight;
    font-weight: bold;

}

section .container{
    width: 100%;
    max-width: 2000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

section .container .card{
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

section .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0 0 0.2);
}

section .container .card img{
    width: 250px;
    height: 300px;
    object-fit: cover;
}

section .container .card h4{
    font-weight: 600;
    font-family: Inter tight;
    padding-bottom: 20px;
    padding-top: 20px;
}

section .container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-family: Inter tight;
    padding-bottom: 20px;
}

section .container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #0f1923;
    font-family: Inter tight;
    margin-bottom: 10px;

}

li{
    font-size: 30px;
    font-family: Inter tight;
}

.flex-outer{
    width: 100%;

}

.formulario {
    font-size: 30px;
    font-family: Inter tight;
    margin-right: 20px;
    color: #ff4655;
    font-weight: bold;
    
}

.formulario2{
    float: right;
    font-size: 20px;
    border-radius: 12px;
    font-family: Inter tight;
    width: 100%;
    color: #0f1923;
    padding: 10px;
}

.button{
    font-size: 20px;
    font-family: Inter tight;
    color: #ff4655;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 10px;
    float: right;
    padding: 10px;
    background-color: #0f1923;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 400px;
}

.gmap_iframe {
    width: 600px !important;
    height: 400px !important;
}

.mapas{
    width: 100%;
    height: 100%;
    
}

footer{
    width: 100%;
    overflow: hidden;
    background-color: #0f1923;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .wrapper{
    color: #ff4655;
}

footer .titulo-seccion{
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter tight;
    font-weight: bold;
}

footer .redes-sociales {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;

}

footer .copy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter tight;
}


@media (max-width: 576px) {
    header .logo{
        font-size: 30px;
        line-height: inherit;
        
    }
    footer .titulo-seccion{
        display: none;
    }

    footer .redes-sociales{
        font-size: 25px;
    
    }

    .textoMapas {
        display: none;
    }


}
@media (max-width: 990px) {
    .nav-link{
        padding-left: 10px;
        border-radius: 15px;
    }

    
}