$color-primario:#ff4655;
$color-secundario:#0f1923;
$menu-links:#ffffff;
$tex-color:#000;
$card-shadow-color:rgba(0, 0, 0, 0.2);

$bg-colors: (
        'rojo': $color-primario,
        'azul': $color-secundario,
        'blanco': $menu-links,
        );

@each $name, $value in $bg-colors {
    .bg-#{$name} {
      background-color: $value;
    }
  }