header{
    width: 100%;
    overflow: hidden;
    background-color: #0f1923;
    margin-bottom: 20px;
}




header .logo{
    color: #ff4655;
    font-size: 50px;
    line-height: inherit;
    float: left;
    font-family: Inter tight;
}

.navwrapper {
    padding: 20px 0;
}



.menu{
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    /* padding: 10px 20px; */
    font-family: Inter tight;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:500ms ease;
    -o-transition:500ms ease ;
    transition:500ms ease ;
    border-radius: 50px;
    
}

.menuItems{
    flex-direction: row-reverse;
}

.menuDos:hover {
    background-color: #ff4655;
}

.hamburguesa{
    background-color: #ff4655;
}

section .img-banner{
    width: 100%;
}

section .container{
    width: 100%;
    max-width: 2000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}



li{
    font-size: 30px;
    font-family: Inter tight;
}

.flex-outer{
    width: 100%;

}

@media (max-width: 576px) {
    header .logo{
        font-size: 30px;
        line-height: inherit;
        
    }
}
@media (max-width: 990px) {
    .nav-link{
        padding-left: 10px;
        border-radius: 15px;
    }
}