@import "./reset";
@import "./cards";
@import "./colores";
@import "./footer";
@import "./form";
@import "./header";
@import "./textos";
@import "./carrousel";



body{
    background-color: #ffffff;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}






.gmap_canvas {
    
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    width: 100%;
    height: 400px;
}





@media (max-width: 576px) {
    header .logo{
        font-size: 30px;
        line-height: inherit;
        
    }
    footer .titulo-seccion{
        display: none;
    }

    footer .redes-sociales{
        font-size: 25px;
    
    }

    


}
@media (max-width: 990px) {
    .nav-link{
        padding-left: 10px;
        border-radius: 15px;
    }

    
}