@import "../coloresytexto/colores";

footer{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color: $color-primario;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Inter tight;
        font-weight: bold;
        @media (max-width: 576px) {
                display: none;
        }  
    }

    .redes-sociales {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        @media (max-width: 576px) {
                font-size: 25px;
        }
    }

    .fa-brands{
        color: $color-primario;
    }

    .copy{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Inter tight;
    }
}