@import "../coloresytexto/colores";

header{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    li{
        font-size: 30px;
        font-family: Inter tight;
    }
    .logo {
        color: $color-primario;
        font-size: 50px;
        line-height: inherit;
        float: left;
        font-family: Inter tight;
        @media (max-width: 576px) {
            font-size: 30px;
            line-height: inherit;
        }
    }
    .navwrapper {
        padding: 20px 0;
        .menu{
            width: 100%;
            color: $menu-links;
            text-decoration: none;
            /* padding: 10px 20px; */
            font-family: Inter tight;
            line-height: normal;
            font-size: 20px;
            font-weight: bold;
            -webkit-transition:500ms ease;
            -o-transition:500ms ease ;
            transition:500ms ease ;
            border-radius: 50px;
            @media (max-width: 990px) {
                padding-left: 10px;
                border-radius: 15px;
            }
            
        }
        .menuItems{
            flex-direction: row-reverse;
        }

        .menuDos:hover {
            background-color: $color-primario;
        }       
    }  
}